.none {
    display: none !important;
}
b {
    font-weight: bolder !important;
}

body {
    text-decoration: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    nav {
        a {
            transition: .5s;
            display: flex;
            text-decoration: none;
            &:hover {
                color: black;
                transform: translate(0%, -20%);
            }
        }
        #theme-switcher {
            span {
                width: 2.5vw;
                height: 2.5vw;
                background-size: cover;
                display: inline-block;
            }
            #light-theme {
                background-image: url("../img/sun.svg");
                filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
            }
            #dark-theme {
                background-image: url("../img/moon.svg");
            }
        }
    }
    #serverinfo {
        font-family: 'Open Sans', sans-serif;
        background: linear-gradient(145deg, #fafafa, #ffffff);
        box-shadow: 1vw 1vw 1vw #d0d0d0,
                    -1vw -1vw 1vw #f0f0f0;
        #activemembers {
            &::after {
                content: ' 🟢';
            }
        }
        #totalmembers {
            &::after {
                content: ' ✔️';
            }
        }
    }
    #copyrights {
        position: fixed;
        color: rgba(0, 0, 0, 0.5);
        right: 2vw;
        font-size: 1vw;
        bottom: 1vw;
    }
}
// responsible disgn applied for all mobiles disgn

//scrollbar
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #ffffff;
}
::-webkit-scrollbar-thumb {
    background: rgb(49, 105, 207);
    transition: .5s;
    &:hover {
        background: rgb(22, 78, 201);
    }
}